:root{
    --dark : #112B3C ;
    --first : #205375 ;
    --sec : #F66B0E ;
    --light : #EFEFEF ;
}
html{
    direction: ltr;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Russo One', sans-serif;
    background: url('../img/bg.jpg');
    /*background-size: cover;
    */padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-position: 0% 50%;
    animation: gradient 40s ease infinite;
    -webkit-animation: gradient 40s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.mycontainer{
    background: radial-gradient(closest-side, transparent 15%, #205375cc);
    min-height: 100vh;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background-color: transparent !important;
    height: 80px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header img{
    padding-bottom: 15px;
    display: inline-block;
}
header ul {
    position: absolute;
    right: 100px;
}
header>ul>li{
    display: inline-block;
    position: relative;
}
header>ul>li::before{
    content:"";
    position: absolute;
    left: 14px;
    bottom: -10px;
    width: 80%;
    height: 3px;
    background-color: var(--sec);
    /*border-radius: 4px;
    */-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    scale: 0;
    transform-origin: right;
    transition: scale 0.6s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
header>ul>li>a{
    justify-self: flex-end;
    color: var(--light);
    padding: 0 35px;
    text-indent: 20px;
}
header>ul>li>a:hover{
    color: var(--sec);
}
header>ul>li:hover::before{
    scale: 1;
    transform-origin: left;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
}
#home img{
    margin-left: 250px;
    margin-top: 40px;
    animation: pop 3s ease-in-out;
    -webkit-animation: pop 3s infinite ease-in-out;
}
.txt{
    margin-left: 80px;
}
.Slogan{
    display: inline-block;
    color: var(--light);
    font-size: 60px;
    font-weight: bold;
}
.IntroTxt{
    display: inline-block;
    color: var(--light);
    font-size: 30px;
    margin-bottom: 20px;
}
.transferBtn{
    position: relative;
    padding: 10px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none;
    cursor: pointer;
    color: var(--light);
    background-color: var(--sec);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.transferBtn:hover{
    color: var(--first);
}
.transferBtn:active{
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
}
.transferBtn::before , .transferBtn::after{
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}
.transferBtn.animate::after{
    bottom: -70%;
    background-image: radial-gradient(circle , var(--sec) 20% , transparent 20%),    radial-gradient(circle, var(--sec) 20%, transparent 20%),    radial-gradient(circle, transparent 10% , var(--sec) 15%, transparent 20%),    radial-gradient(circle, var(--sec) 20%, transparent 20%),    radial-gradient(circle, var(--sec) 20%, transparent 20%),    radial-gradient(circle, var(--sec) 20%, transparent 20%),    radial-gradient(circle, var(--sec) 20%, transparent 20%);
    background-size: 15% 15% , 20% 20% , 18% 18% ,20% 20% , 15% 15% , 20% 20% , 18% 18%;
    animation: bottomBubbles ease-in-out 0.6s forwards infinite;
    -webkit-animation: bottomBubbles ease-in-out 0.6s forwards infinite;
}
.transferBtn.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, var(--sec) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--sec) 20%, transparent 30%), radial-gradient(circle, var(--sec) 20%, transparent 20%), radial-gradient(circle, var(--sec) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--sec) 15%, transparent 20%), radial-gradient(circle, var(--sec) 20%, transparent 20%), radial-gradient(circle, var(--sec) 20%, transparent 20%), radial-gradient(circle, var(--sec) 20%, transparent 20%), radial-gradient(circle, var(--sec) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    animation: bottomBubbles ease-in-out 0.6s forwards infinite;
    -webkit-animation: topBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes bottomBubbles {
    0%{
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes pop {
    0%{
        scale: 1;
    }
    50% {
        scale: 0.98;
    }
    100%{
        scale: 1;
    }

}



